{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    <h2 class="text-center">Nos appartements favoris</h2>
    <div class="row">
        {% for p in post %}
            <div class="col-sm-12 col-lg-6 col-md-6">
                <div class="card bg-light mb-3">
                    <div class="card-header text-center">
                        {% if p.nb >0 %}
                            {{ p.nb}} Appartement(s) disponible(s).
                        {% endif %}
                        <br>
                        <strong>{{ (p.prix / 100) | number_format(0,',','.')}}  FCFA /mois</strong>
                        <br>
                        Publié le
                        <span class="bg-secondary text-light"> {{ p.createadAt ? p.createadAt|date('d/m/Y') : '' }}</span>
                        <img class="img-fluid" alt="" style="height: 150px; width: 100%; display: block;" src="/uploads/images/posts/{{ p.image }}">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ p.title }} à {{ p.localite }}
                            </h4>
                            <p class="card-text">
                                {{ p.description| raw}}
                            </p>
                            <a class="btn btn-primary" href="{{ path('app_post_show',{'id': p.id}) }}"> <i class="fa-regular fa-eye fa-2xl bg-secondary"></i> Voir cette annonce
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}